body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
}

#formTarefa {
    margin-bottom: 20px;
}

#containerTarefas {
    background: white;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.tarefa {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: yellow;
}

.tarefa.concluida {
    background-color: rgb(108, 202, 31);
    text-decoration: line-through;
}

.tarefa:last-child {
    border-bottom: none;
}

.conteudo-tarefa {
    flex: 1;
}

.acoes-tarefa {
    margin-left: 10px;
    margin-top: 10px;
}

.botao-editar,
.botao-excluir,
.botao-reabrir
{
    color: #fff;
border: 2px solid black;
    /* Largura da borda (2px), estilo (solid) e cor (black) */
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.botao-pendente {
    background-color: yellow;
    border: 2px solid black;
    /* Largura da borda (2px), estilo (solid) e cor (black) */
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 5px;
}

.botao-editar {
    background-color: #007bff;
}

.botao-excluir {
    background-color: red;
}

.botao-pendente {
    background-color: yellow;
}

.botao-reabrir {
    background-color: #007bff;
}

.tarefa.concluida .botao-concluir,
.tarefa.concluida .botao-reabrir {
    background-color: green;
}

/* Estilos para telas menores que 768 pixels de largura */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }

    #formTarefa {
        margin-bottom: 10px;
    }

    #containerTarefas {
        padding: 5px;
    }

    .tarefa {
        flex-direction: column;
        align-items: flex-start;
    }

    .acoes-tarefa {
        margin-top: 10px;
        margin-left: 0;
    }

    .botao-editar,
    .botao-excluir,
    .botao-reabrir,
    .botao-pendente {
        font-size: 14px;
        padding: 3px 8px;
    }
}

/* Hover effects */
.botao-editar:hover,
.botao-excluir:hover,
.botao-pendente:hover,
.botao-reabrir:hover {
    opacity: 0.8;
}
